@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body,html{
    font-family: Arial, Helvetica, sans-serif;

}
article{
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.562);
}
article > p{
    background-color: rgb(26, 25, 25);
    color: white;
    padding: 5px;
    
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(75, 73, 73);
    border-radius: 5px;
}
header > menu{
text-align: center;
background-color: rgb(56, 56, 56);

}
header > menu > ul > li{
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.308);
}
header > menu > ul > li > a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header > menu > ul > li:hover{
background-color: rgb(143, 141, 141);
color: black;
transition-duration: 0.5s;
border: 1px solid rgba(0, 0, 0, 0.397);
padding: 5px;
}
