@charset "UTF-8";
/*
Configurações gerais
*/
*{
    margin: 0px;
    padding: 0px;font-family: Arial, Helvetica, sans-serif;}
html,body{
width: 100vw;
height:100vh;
background-color: #233EFF;
background-size:contain ;
background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow:1px 1px 0px #0c1ea7 ;
    padding: 10px;
}